<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/users_list" class="btn btn-dark">Users_list</a>
            <a href="/user_view" class="btn btn-dark">User_view</a>
            <a href="/sensor" class="btn btn-dark">Sensores</a>
            <a href="/login" class="btn btn-dark">Login</a>
          </nav>                                                                                                                                                                                       
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
            <h1>Inicio de sesion exitoso</h1>
            <h3>Bienvenido</h3>
        </center>
        <center>
        <a href="/logout" class="btn btn-dark">Logout</a>
    </center>
    </body>
</html>