<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenido</title>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a href="/users_list" class="btn btn-dark">Users_list</a>
            <a href="/user_view/(.*)" class="btn btn-dark">User_view</a>
            <a href="/sensor" class="btn btn-dark">Sensores</a>
            <a href="/" class="btn btn-dark">Login</a>
          </nav>                                                                                                                                                                                       
        <br>
        <br>
        <br>
        <br>
        <center>
            <h1>Inicio de sesion exitoso</h1>
            <h3>Bienvenido</h3>
        </center>
        <center>
        <a href="/logout" class="btn btn-dark">Logout</a>
        <br>
        <br>
        <br>
        <img src="https://media.istockphoto.com/photos/refrigerated-semitrailer-cargo-picture-id1053179136?b=1&k=20&m=1053179136&s=170667a&w=0&h=6SUG2m9Mt8CJcRF4uKRra7Yx9preXhqtETvy97Nnwow=" class="img-thumbnail" alt="...">
    </center>
    </body>
</html>