<!DOCTYPE html> 
<html lang="es"> 
<head> 
 <title>Web Móvil</title> 
 <meta charset="utf-8"> 
 <meta name="description" content="Este es un documento HTML5"> 
 <meta name="keywords" content="HTML, CSS, JavaScript"> 
 <link rel="stylesheet" href="Web Móvil.css"> 
  <script src="Web Móvil-2.js"></script> 
</head> 
<body> 
 <header id="cabeceralogo"> 
 <div> 
 <h1>Actividad 1.2 - Web Móvil</h1> 
 </div> 
 </header> 
 <br>
 <br>
 <nav id="menuprincipal"> 
 <div> 
 <ul> 
 <li><a href="inicio.html">INICIO</a></li> 
 <li><a href="login.html">Login</a></li> 
 <li><a href="registro.html">Registro</a></li> 
 </ul> 
 </div> 
 </nav> 
 <main> 
 <div> 
 <section id="articulosprincipales">
<article> 
 <h1> PUMA X-RAY </h1> 
 <time datetime="2016-12-23" pubdate> 
 <div class="numerodia">21</div> 
 <div class="nombredia">Viernes</div> 
 </time> 
 <p>Los Sneakers Puma X-Ray Tienen una construcción de mallas y cuero, que los hacen frescos, cómodos</p> 
 <figure> 
    <a href="https://www.innovasport.com/">
 <img src="img1.jpg"> 
    </a>
 </figure> 
 </article> 
 <article> 
 <h1> ADIDAS U_PATH RUN </h1> 
 <time datetime="2016-12-7" pubdate> 
 <div class="numerodia">30</div> 
 <div class="nombredia">Miércoles</div> 
 </time> 
 <p>Esenciales para llevar a cabo tus rutinas de ejercicio ¡tú decides cómo usar tus nuevos tenis Puma!​</p> 
 <figure> 
    <a href="https://www.innovasport.com/">
 <img src="img2.png"> 
</a> 
 </figure> 
 </article> 
 </section> 
    <aside id="infoadicional"> 
     <h6>ACERCA DE</h6> 
     <center>
        <p>Contáctanos</p>
            <p>Métodos de pago y envíos</p>
            <p>Cambios y devoluciones</p>
            <p>Preguntas frecuentes</p>
            <p>Promociones</p>
            <p>Política de privacidad</p>
            <p>Términos y condiciones</p>
        </center>
     
    </aside> 
 <div class="recuperar"></div> 
 </div> 
 </main> 
 <footer id="pielogo"> 
 <div> 
 <section class="seccionpie"> 
 <h1>Sitio Web</h1> 
 <p><a href="index.html">Principal</a></p> 
 <p><a href="fotos.html">Fotos</a></p> 
 <p><a href="videos.html">Videos</a></p> 
 </section> 
 <section class="seccionpie"> 
 <h1>Ayuda</h1> 
 <p><a href="contacto.html">Contacto</a></p> 
 </section> 
 <section class="seccionpie"> 
 <address>Mexico, Hidalgo</address> 
 <small>&copy; Derechos Reservados 2021</small> 
 </section> 
 <div class="recuperar"></div> 
 </div> 
 </footer> 
</body> 
</html> 
