$def with (message)

<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        $message
        <h1>Login</h1>
        <form method="POST">
            <p>CORREO</p>
            <input type="email" name="email" id="email"><br>
            <br>
            <p>CONTRASEÑA</p>
            <input type="password" name="password" id="password"><br>
            <br>
            <input type="submit" value="Login"><br>
            <br>
            <br>
            <a href="/recuperar_cuenta">Recuperar Contraseña</a>
        </form>
    </body>
</html>